@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 0.05rem;
}

html {
    background-color: var(--gradient-1);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
}

picture {
    line-height: 0;
}

:root {
    --desaturated-red: #ce9797;
    --soft-red: #fa6161;
    --dark-grayish-red: hsl(0deg 6% 24%);

    /* gradients */
    --gradient-1: linear-gradient(135deg, hsl(0deg 0% 100%), hsl(0deg 100% 98%));
    --gradient-2: linear-gradient(135deg, hsl(0deg 80% 86%), hsl(0deg 74% 74%));
}

.main {
    max-width: 27rem;
}

.girl-mobile {
    width: 100%;
}

.girl-desktop {
    display: none;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
}

.content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    padding: 4rem 2rem;
}

.logo {
    width: 6.25rem;
    object-fit: scale-down;
    margin: 1.875rem;
}

.form {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.125rem;
    padding-left: 1.5rem;
    border-radius: 2rem;
    border: 0.1rem solid var(--dark-grayish-red);
    border-right: none;
}

.email {
    width: 60%;
    position: relative;
    font-weight: 400;
    background: none;
    border: none;
}

.arrow-error {
    display: none;
}

.btn-submit {
    border: none;
    display: grid;
    place-items: center;
    border-radius: inherit;
    background: var(--gradient-2);
    height: inherit;
    width: 4.0625rem;
    box-shadow: 0 1rem 2rem -0.3rem var(--desaturated-red);
}

.message-error {
    width: 100%;
    display: none;
    border: none;
    background: none;
    position: absolute;
    left: 0;
    margin-left: 1.5rem;
    font-size: 0.8rem;
    color: var(--soft-red);
    bottom: -2rem;
    text-align: left;
}

.view-error {
    display: block;
}

.title span {
    color: var(--soft-red);
    font-weight: 300;
    letter-spacing: 0.5rem;
}

.title~p {
    font-weight: 300;
    color: var(--soft-red);
    font-size: 0.85rem;
    line-height: 1.25rem;
}

.email::placeholder {
    text-transform: capitalize;
    font-weight: 400;
    color: var(--dark-grayish-red);
}

.btn-submit:hover {
    cursor: pointer;
    background: var(--desaturated-red);
}

.email:focus {
    outline: none;
}

@media screen and (min-width: 69.375rem) {
    html {
        display: flex;
        justify-content: center;
    }

    body {
        max-width: 90rem;
    }

    .girl-mobile {
        display: none;
    }
    
    .girl-desktop {
        display: block;
    }

    .main {
        display: flex;
        flex-direction: row-reverse;
        max-width: none;
        width: initial;
    }

    .content {
        padding: 0;
        text-align: left;
    }

    .title {
        font-size: 3.85rem;
        letter-spacing: 1.15rem;
    }

    .btn-submit {
        width: 6.25rem;
    }

    .logo {
        width: 10rem;
        margin: 0;
        margin-bottom: 8.5rem;
    }

    .block {
        padding: 4rem 13.75rem 0 10.3125rem;
        padding-bottom: none;
    }

    .title span {
        letter-spacing: 1.15rem;
    }

    .title~p {
        font-size: 1.065rem;
        line-height: 1.25rem;
    }
}